@using client.Models;
@model AuthModel
@{
    ViewData["Title"] = "Login";
}

<div class="container">
    @Html.ValidationSummary()
    <form method="POST">
        <input type="text" name="UserName" placeholder="User name" class="row" />
        <input type="password" name="Password" placeholder="Password" class="row mt-2" />

        <button type="submit" class="btn btn-primary row mt-2">Login</button>
        <a href="~/register" class="row mt-2">
            Create new account?
        </a>
    </form>
</div>